@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;600 & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
font-style: normal;
 
}
body{
font-family: 'Merriweather Sans', sans-serif;

}



 .brand-logo{
    margin-left: 2%;
    margin-top: 1%;
 }

 .nav-wrapper{
    background-color: white;
    color: black;
 }
 
.nav-mobile{
    color: black;
}
.nav-p{
color: black;
}
.title-banner{
    display: block;
    width: 15%;

    position: absolute;
height: 67px;
left: 6.94%;
right: 67.01%;
top: 192px;

/* Title 56 Semi Bold */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 120%;
/* or 67px */

letter-spacing: -0.04em;
    
}

.title-banner-pink{

color: #E01E5A;


}



.earings-banner{
    position: absolute;
width: 560px;
height: 650px;
left: 797px;
top: 124px;
}

.img-banner{
    position: absolute;
width: 560px;
height: 650px;
left: 797px;
top: 124px;

}

.p-banner{
position: absolute;
height: 27px;
left: 6.94%;
right: 54.51%;
top: 499px;

/* Title 18 Medium */

font-family: 'Poppins', sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

letter-spacing: -0.04em;

/* Text Color */

color: #051441;

}
.btn-3 {

    position: absolute;
height: 27px;
left: 6.94%;
right: 54.51%;
top: 560px;
    background: rgba(224, 30, 90, 1);
    color: aliceblue;

  background: linear-gradient(0deg, rgb(233, 178, 219) 0%, rgba(224, 30, 90, 1);
  100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;

  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgb(0, 0, 0);
  }
  .btn-3 span:before,

  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(224, 30, 90, 1);

    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }

#section1{
  width: 100%;
  height:  379.78px;
  background-color: #E01E5A;
  position: relative;
  z-index: -1;
 
 

 
}

#banner{
  width: 100%;
  height: 100vh;

  z-index: 1;
}

.img1{
  position: absolute;
  bottom: 0%;
  

}

.title{
  display: flex;
  justify-content: end;
  margin-right: 10%;
  padding-top: 2%;
  align-items: center;
  color: white;
}

.body{

  width: 30%;
  display: flex;

margin: 2rem auto;
text-align: center;
  color: white;
 align:right;

}
.container-title{
display: flex;
justify-content: center;
align-items: center;
width: 50;
text-align: center;
margin-top: 5%;
font-size: 40px;

}

.container2-p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  margin-left: 35%;
  
  }
 

  .container2-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .container-imgs{
    margin: 5%;
  }
.last-section{
width: 100%;
height: 50vh;
background-color: #E01E5A;
}
  .container-last{
    color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   width: 50%;
   margin: 2%;
   padding: 3%;
   

  }


.container-last-text{
position: relative;
margin-left: 5%;
color: white;
width: 45%;
bottom: 15%;



  }

  .container-last-text-child{
    position: absolute;
    margin: 0%;
  
  }

    .last-img-dad{
      position: relative;
    
      margin-left: 60%;
      bottom: 95.1%;
  
    }
   